#!/bin/bash

. bcc/shell/base.sh

bcc_title="Gerenciador de PPA"
bcc_description=$"Gerencie ppa no sistema"
bcc_logo="logo.png"
bcc_about="no"

# Print header in screen
bcc_header

if [ "$p_install" = "1" ]; then

	INST="active"

elif [ "$p_uninstall" = "1" ]; then

	UNINST="active"

elif [ "$p_enable" = "1" ]; then

	ENAB="active"

elif [ "$p_disable" = "1" ]; then

	DISAB="active"
else

	ABOUT="active"
fi

###############
# Start Content
echo '
<ul class="collapsible expandable">
	<li>
      <div class="collapsible-header '$ABOUT'">'$"Sobre o Gerenciador de PPA"'</div>
      <div class="collapsible-body"><p>A maioria dos usuários do Ubuntu e claro, de suas derivações usam PPA’s como repositórios adicionais, afinal, alguns aplicativos não estão disponíveis nos repositórios oficiais do Ubuntu e por isso precisam destes repositórios para que consigam instalar facilmente aplicativos.</p>As PPA’s são seguras, mesmo sendo de terceiros, só que chega um momento em que é necessário saber o que temos em nossos sistemas, neste caso este programa consegue gerenciar tudo para você!<p></p></div>
    </li>
    <li>
      <div class="collapsible-header '$INST'">'$"Instalar PPA"'</div>
      <div class="collapsible-body">
      	
      		<p><b>Para instalar um PPA, copie e cole ou digite o endereço:</b><br/> <i>Ex.: ppa:kubuntu-ppa/backports</i> </p>
		    <form action="submit.sh.htm" method="get" class="col s12">
		      <input type="hidden" name="install" value="1" id="text_box_id">
		      <div class="row">

		        <div class="input-field col s6">
		          <input id="ppa" type="text" class="validate" name="nameppa">
		          <label for="ppa">Endereço do PPA</label>
		        </div>
		        <div class="input-field col s3">
		          <button type="submit" class="waves-effect waves-light btn">'$"Instalar"'</button>
		        </div>

		      </div>
		    </form>

      </div>
    </li>
    <li>
      	<div class="collapsible-header '$UNINST'">'$"Desinstalar PPA"'</div>
      	<div class="collapsible-body">      	
     		<form action="submit.sh.htm" method="get">
     			<input type="hidden" name="uninstall" value="1">
     			<div class="row">'

                    PPAS=$(grep -Rl ppa /etc/apt/sources.list.d | grep "list$")
                    [ "$PPAS" ] && {
                        echo '<p><b>Para desinstalar um PPA, selecione um abaixo:</b></p>
                            <div class="input-field col s6">
                            <select name="fileppa">'
                        for i in $PPAS; do
                            NAME=$(sed 's|.list||' <<< ${i##*/})
                            echo '<option value="'$i'">'$NAME'</option>'
                        done
                        echo  '</select></div>
                            <div class="input-field col s3">
                                <button type="submit" class="waves-effect waves-light btn red lighten-2">'$"Remover"'</button>
                            </div>'
                    } || {
                        echo '<p><h5>Não existe PPA no sistema!</h5></p>'
                    }

				echo '
			    </div>
			</form>
	  	</div>
    </li>
</ul>'

echo '
<script type="text/javascript">
$(document).ready(function(){
    $(".collapsible").collapsible();
});
</script>'

###################
# Close content div
echo '</div>'

##############
# Start footer
echo '<div id="bcc_footer">'
      echo '<div id="bcc_footer_right">'
        echo '<a href="/execute close$" class="waves-effect waves-light btn blue-grey lighten-1"><img src=cancel.png>'$"Sair"'</a>'
      echo '</div>'
echo '</div>'

#########
# The end
echo '</body>'
