#!/bin/bash

. bcc/shell/base.sh

bcc_title="Gerenciador de PPA"
bcc_description=$"Gerencie ppa no sistema"
bcc_logo="logo.png"
bcc_about="no"

# Print header in screen
bcc_header

###############
# Start Content


if [ "$p_install" = "1" ]; then
    bigsudo $(pwd)/install-ppa.sh "$p_nameppa" >/dev/null                                                
    ret="$?"
    [ "$ret" = "0" ] && kdialog --msgbox $"PPA instalado com sucesso!" || \
                        kdialog --error $"Não foi possível instalar o PPA, verifique e tente novamente!"
    echo "<META http-equiv=\"refresh\" content=\"0;URL=/index.sh.htm?install=1\">" 
    
elif [ "$p_uninstall" = "1" ]; then
    bigsudo $(pwd)/remove-ppa.sh "$p_fileppa"
    ret="$?"
    if [ "$ret" = "0" ]; then
        kdialog --msgbox $"PPA removido com sucesso!"
        echo "<META http-equiv=\"refresh\" content=\"0;URL=/index.sh.htm?uninstall=1\">"
    else
        kdialog --error $"Não foi possível remover o PPA, verifique e tente novamente!"
        echo "<META http-equiv=\"refresh\" content=\"0;URL=/index.sh.htm?uninstall=1\">"
    fi
fi

###################
# Close content div
echo '</div>'

##############
# Start footer
echo '<div id="bcc_footer">'
      echo '<div id="bcc_footer_right">'
        echo '<a href="/execute close$" class="waves-effect waves-light btn blue-grey lighten-1"><img src=cancel.png>'$"Sair"'</a>'
      echo '</div>'
echo '</div>'

#########
# The end
echo '</body>'
