#!/bin/bash

. bcc/shell/base.sh

bcc_title="Gerenciador de PPA"
bcc_description=$"Gerencie ppa no sistema"
bcc_logo="logo.png"
bcc_about="no"

# Print header in screen
bcc_header

###############
# Start Content


if [ "$p_install" = "1" ]; then

	if [ "$p_nameppa" = "" ]; then
		kdialog --sorry $"Você não inseriu um endereço de PPA válido!"
		echo "<META http-equiv=\"refresh\" content=\"0;URL=/index.sh.htm?install=1\">" 

	elif [ "$(echo $p_nameppa | grep "^ppa" )" = "" ]; then
		kdialog --error $"Endereço do PPA inválido, verifique e tente novamente!"
		echo "<META http-equiv=\"refresh\" content=\"0;URL=/index.sh.htm?install=1\">" 

	else
		echo "<p><b><big>Instalando, aguarde...</big></b></p>"
		echo "<META http-equiv=\"refresh\" content=\"0;URL=/submit2.sh.htm?install=1&nameppa=$p_nameppa\">" 
	fi


elif [ "$p_uninstall" = "1" ]; then

	kdialog --yesno $"Tem certeza que deseja remover esse PPA?"
	if [ "$?" = "0" ]; then
		echo "<p><b><big>Removendo, aguarde...</big></b></p>"
		echo "<META http-equiv=\"refresh\" content=\"0;URL=/submit2.sh.htm?uninstall=1&fileppa=$p_fileppa\">"
	else
		echo "<META http-equiv=\"refresh\" content=\"0;URL=/index.sh.htm?uninstall=1\">"
	fi
fi

###################
# Close content div
echo '</div>'

##############
# Start footer
echo '<div id="bcc_footer">'
      echo '<div id="bcc_footer_right">'
        echo '<a href="/execute close$" class="waves-effect waves-light btn blue-grey lighten-1"><img src=cancel.png>'$"Sair"'</a>'
      echo '</div>'
echo '</div>'

#########
# The end
echo '</body>'
